//-----------------------------------//
//  Annotations by Charlie N. Odon   //
//-----------------------------------//

:root {
    --q-font-family: 'Trebuchet MS', Arial, sans-serif;
  }

  html{
    background: $primary-x-darker-bg;
  }
  * {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    }
//--------------- for nice scrollbars --------------------------
  *::-webkit-scrollbar {
    width: 6px !important; 
    background: $primary-x-darker-bg !important;
  }
 
  *::-webkit-scrollbar-thumb {
    background: $primary-headers-bg  !important; 
    border-radius: 10px !important; 
    border: 2px solid transparent !important; 
  }
  
  *::-webkit-scrollbar-thumb:hover {
    background: $primary-hover !important; 
  }

  //--------------------------------------------------------
  body {
    font-family: var(--q-font-family) !important;
    overflow-y: scroll;
  }
  //-----------------------------------

  .paytaca-logo{
    margin-top: 6px;
  }
  .paytaca-paysplit-title{
    transform-origin: bottom left;
    transform: scale(1.2);
  }



  .q-dialog__inner {
    position: fixed !important;
  }



//--------- for dropdown menu items --------------------
.q-menu .q-item {
    font-size: smaller !important;  
    padding: 2px 12px !important; 
    height:fit-content;
    margin: 0 !important;
    //background-color: $primary-bgrey-bg;
  }

  .row.no-wrap {
    flex-wrap: nowrap; 
  }
  
/* ----- for item name colum ------- */
  .item-name-header,
  .item-name-field {
    flex-grow: 1; 
    min-width: 100px;
    max-width: 100%; 
    margin-right: 8px;
  }
  .item-name-field{
    margin-left: 8px;
  }

  
  /* ---- for left 3 columns wrapper -----*/
  .field-group {
    display: flex;
    align-items: center;
    gap: 8px; 
    flex-shrink: 0;
  }
  
  /* -------- for item quantity column -------*/
  .quantity-header{
    width: 80px; 
    text-align: center;
  }
  .quantity-field {
    flex: 0 0 80px;
    max-width: 80px;
    text-align: center;
  }

  /* -------- for item price column -------*/
  .price-header {
    width: 130px; 
    text-align: center;
  } 
  .price-field {
    flex: 0 0 130px;
    max-width: 130px;
    text-align: center;
  }
  
  /* ---for item 'delete item' column --------*/
  .actions-header{
    width: 40px;
    flex-shrink: 0;  
  }
  .delete-btn {
    width: 40px;
    flex-shrink: 0;
    margin-right: 8px;
    color: #000 !important;
  }

 /* -------- hides the default up & down arrow for number fields ---------*/ 
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


/* ------ for custom unit label of price fields ---- */
.bch-unit {
    font-size: small;
    font-weight: bold;
    margin-right: -4px;
    color: $unit-colors;
    box-sizing: border-box;
  }
  
.basic-mode-amount-unit{
    margin-right: 30px !important;
    font-size: small !important;
}



/*------------- contains custom label and input field -----*/
  .custom-field {
    display: flex;
    align-items: center;
    background: transparent;
    border-radius: 4px;
    overflow: hidden;
    box-sizing: border-box;
  }
  

  /*--------- custom labels on the shaded left of custom input fields -------*/
  .custom-label {
    color: $text-white-grey;
    background: $primary-headers-bg;
    padding: 10px 12px;
    min-width: 120px; 
    text-align: center;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  

  /*----- for custom input fields with up and down arrows ----*/
  .custom-input {
    flex: 1;
    padding: 0;
    border: none;
    font-size: small;
    .custom-arrows {
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 8px; 
        top: -20%;
        transform-origin: center;
        transform: scaleY(0.70);
        gap: 0px; 
      }
    
      .q-btn {
        min-width: 32px; 
        padding: 0;
      }
  }


  .split-type-con {
    display: flex;
    width: inherit;
    padding: 0;
    gap: 10px; 
    .split-field {
      flex: 3; 
    }
    .participants-num-field {
      flex: 2; 
    }
  }


  /* ------- for custom input fields in items ------*/
  .item-inputs.custom-input {
    flex: 1;
    padding: 0;
    border: none;
    font-size: small;
    overflow: hidden;
    box-sizing: border-box;

    .custom-arrows {
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 5px; 
        top: -20%;
        transform-origin: center;
        transform: scaleY(0.64);
        gap: 0px; 
        overflow: hidden;
        box-sizing: border-box;
        height: max-content;
        //color: #8b8b8b;
 
      }
    
      .q-btn {
        min-width: 32px; 
        padding: 0;
        margin: 0;
        overflow: hidden;
        box-sizing: border-box;
      }
  }

  /* ----- custom input fields with not rounded left-side ----*/
  .c-br-1{
    .q-field__control {
        border-top-left-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
        background: $transparent-x-darker-bg;
        box-sizing: border-box;
      }
  }

  /*---------------------------------------*/

  .rounded-card {
    min-width: 420px;
    max-width: 500px;
    border-radius: 12px;
    box-sizing: border-box;
  }
  

  //------------ q-list container ------------

  .q-list-container {
    width: inherit;
    margin-right: 2px;
    overflow-y: scroll; /* Allow vertical scrolling */
    transform: translateX(1px);
    border: 1px solid $primary-dark-border; /* Border for better visibility */
    background: $transparent-dark-bg; /* Background color */
    box-sizing: border-box;
    padding-bottom: 1px;
  }
  .item-list-container{
    height: 195px;
  }

  .item-list-tally-container{
    height: 66px;
    margin-top: 0;
    background-color: $transparent-x-darker-bg;
    padding-right: 0px;
  }
  .item-list-tally{
    min-height: 66px;
    background-color: $transparent-x-darker-bg;
  }



.q-list {
    overflow-x: hidden; /* Prevent horizontal overflow */
    box-sizing: border-box;
}
  


/*-----for item list background---*/
.list-item {
    background: transparent; 
    overflow-x: hidden; 
    box-sizing: border-box;

}
.item-tally-row{
    padding-left: 8px;
    padding-right: 8px;
    min-height: 20px !important;
    box-sizing: border-box;
    
}

.item-inputs {
    background: transparent; /* Consistent background for inputs */
    overflow-x: hidden; /* Prevent horizontal overflow */
    box-sizing: border-box;
}



.basic-mode-toggle{
   color: $input-text-grey;
   font-weight: bold;
   background-color: $transparent-x-darker-bg;
   border: 1px solid $input-text-grey;;
   border-radius: 4px;
   padding-right: 10px;
   position: absolute;
   display: block;
   width: fit-content;
   height: auto;
   right: 17px;
   top: 0;
}

/* ---------- Blue-glow Shaded input fields------------------- */
  .q-field{
    background: $transparent-x-darker-bg !important;
    overflow-x: hidden;
    overflow: hidden;
    box-sizing: border-box;
  }


  //------------ item list header row ---------------//
  .header-row {
    color: $text-white-grey;
    background-color: $primary-headers-bg !important; 
    padding: 8px 12px; 
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }
  //------------------------------------
  .footer-row {
    margin-top: 0;
    color: $text-white-grey;
    background-color: $primary-headers-bg !important; 
    padding: 4px 12px; 
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  //-------- for all 'proceed' buttons ------------//
  .proceed-btn{
    color: $text-white-grey;
    background-color: $primary-imp-action-bg;
    font-weight: bold;
    min-width: 200px;
  }

  //--------------dropdown list container--------------

  .q-menu.q-position-engine.scroll{
    max-height: 180px ;
    background-color: $dropdown-bg;
  }

  //-------------------for add expense q-card------------
  .kkb-forms{
    min-width: 700px; 
    //background-color: $primary-hover-hover; 
    background-color: $dialog-bg-color;
    background-image: url('assets/dialog-bg-new.png');
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 700px; 
    max-height: 700px !important;
    overflow-y: hidden; 
    transform: scale(0.9); 
    border-radius: 10px; 
    transform-origin: center;
    .add-expense-form-top-sec{
      padding-top: 0px !important;
    }
    .split-expense-form-top{
      margin-bottom: 20px !important;
    }
    .q-card__section{
      .text-h6.text-bold{
        color: $header-text-dark;
        text-shadow: -1px -1px 0 #aaaaaa,
        1px -1px 1px #aaaaaa,
        -1px 1px 1px #aaaaaa,
        1px 1px 1px #aaaaaa; 
      }
    }

    
    
  }

//----------for confirm dialog -------
.confirm-dialog{
  background-color: $dialog-bg-color;

  div button span span{
    color: rgb(105, 18, 18);
  }
}
//--------------------------------------
  .action-btn{
    color: $text-white-grey;
    background-color: $primary-headers-bg;
    font-weight: bold;
  }

//--------------------------------------------
.cancel-btn{
  font-weight: bold;
  color: $text-white-grey;
  background: $transparent-darker-bg;
  padding-left: 10px;
  padding-right: 10px;
}

.float-btn{
  font-weight: bold;
  padding-left: 10px; 
  padding-right: 10px;
  font-size: smaller;
  position: absolute;
  min-width: 130px;
  color: $text-white-grey;
  background-color: $primary-imp-action-bg;
  border-radius: 18px;
  box-shadow: 1px 0px 1px 2px rgba(26, 26, 26, 0.1);
  bottom: 20px;
  right: 85px;
}
.float-btn:hover, .proceed-btn:hover{
  background: $primary-hover;
}

.q-field__control{
  border: 1px solid $primary-dark-border;
}

.q-field__native, .q-field__input{
  color: $input-text-grey;
  font-weight: bold;
}


.page-bg{
  background-color: $primary-x-darker-bg;

}

.toolbar-btn-home{
  font-size: smaller;
  padding-left: 8px;
  padding-right: 8px;
}

.toolbar-btn-how-it-works{
  font-size: smaller;
  padding-left: 8px;
  padding-right: 8px;
}

.toolbar-btn{
  font-size: smaller;
  padding-left: 8px;
  padding-right: 8px;
}


.floating-dialog {
  width: 300px; /* Adjust width as needed */
  position: fixed;
  top: 54px; /* Aligns with header */
  right: 2px;
  height: fit-content;
  background-color: $dialog-bg-color;
  background-image: url('assets/dialog-bg-new.png') !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: -4px;
  box-shadow: -2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  border-radius: 0; /* Remove rounded edges */
  overflow-x: hidden;
  transform-origin: top right;
  transform: scale(1.05);
}


 .field-text{
    color: $input-text-grey;
 }

.split-expense-q-card{
  overflow-y: hidden !important;
  .q-card__section{
      padding-top: 4px !important;
      padding-bottom: 4px !important;
  }
}


 .payer-list-container{
    height: 150px;
    display: flex;
    padding: 0 !important;
    .q-pa-none.list-item .custom-input.payer-name{
      max-height: 40px !important;
      margin: 1px 0px 8px 8px !important;
      width: 200px;
      box-sizing: border-box;
      padding: 0px auto;
    }
    .q-pa-none.list-item .custom-input.payer-amount{
      width: 200px;
      margin: 1px 0px 4px 2px;
      max-height: 40px !important;
      .bch-unit{
        padding-right: 4px;
      }
    }
    .q-pa-none.list-item .delete-btn{
      margin: 1px 0px 2px 2px;
      max-height: 40px !important;
    }
 }


.payer-list-wrapper {
  flex-grow: 1; /* Takes remaining space */
  display: block;
  flex-direction: column;
  border: 1px solid $primary-dark-border; /* Border for better visibility */
  background: $transparent-dark-bg; /* Background color */
  box-sizing: border-box;
  overflow-y: scroll;
  padding-top: 4px;
  padding-bottom: 4px;

}

.qrcode-wrapper {
  //background-color: red;
  max-width: 240px;
  margin: auto;
  box-sizing: border-box;
  overflow: hidden;
  margin-top: 10px;
}

.q-card__section div video{
    border-radius: 8px;
    overflow: hidden;
    box-sizing: border-box;
    padding: 0;
    border: 2px solid $primary-headers-bg;
    max-height: 200px;
}


#qrcode-stream-pause-frame{
  border-radius: 8px;
  overflow: hidden;
  box-sizing: border-box;
  padding: 0;
  border: 2px solid $primary-headers-bg;
  max-height: 200px; 
}

.address-input-con{
  display: flex; 
  width: 130%;
  box-sizing: border-box; 
  padding-top: 15px;
  transform-origin: left;
  transform: scale(0.8);
  label{
    div .q-field__control{
      border: 1px solid $primary-imp-action-bg;
    }
  } 
}
.address-input {
  background-color: none !important;
  flex: 1; 
  font-size: small;
  overflow: hidden;

}

.paste-btn {
  height: 40px;
  width: 40px;
  background: transparent;
  border: none;
  box-shadow: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: $primary-headers-bg;
}

.q-remember-me {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  color: $input-text-grey;
  transform: translateX(-6px);
  font-size: smaller;
}


.qr-q-card {
  max-height: 100vh; 
  overflow: hidden;
}

.reqkkb-container{
  text-align: center;
  .q-btn{
    span span{
      font-size: small;
    }
  } 
}

/*------------------------------------------------------------------------------------*/
.paid-stamp-bg{
  position: absolute;
  background-color: rgba(255, 255, 255, 0.45);
  z-index: 10000;
  width: 190px; /* Adjust as needed */
  height: 190px;
  right: 22px;
  top: 22px;
  .paid-stamp{
    transform-origin: center;
    transform:  rotate(-30deg);;
    background-image: url(assets/paid-stamp.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}


.text-center.q-mt-md.text-h6{
  width: fit-content;
  font-size: small;
  line-height: 20px;
}

.qrcode-img-large {
  width: 200px; 
  height: 200px;
  margin: 0;
  object-fit: contain; 
}

.qrcode-form{
  overflow: hidden;
  //background-position-y: -250px;
  .qrcode-form-title-con{
    box-sizing: border-box;
    padding-bottom: 0;
    padding-top: 0;
  }
}

.qrcode-pay-detail-con {
  display: grid;
  grid-template-columns: auto 200px; 
  align-items: stretch; 
  height: 100%;
}

.left-container {
  display: block; 
  padding-right: 16px;
  box-sizing: border-box;

  .wallet-info{
    color: $header-text-dark;
    background-color: $primary-headers-bg;
    border-radius: 4px;
    padding: 10px;
    box-sizing: border-box;
    span .white-text{
      color: #a4a3a3;
    }
    span .amt-unit{
      color: darkgoldenrod;
    }
  }
  .payer-checklist-con{
    display: block;
    padding: 0px;
    margin-top: 10px;
    box-sizing: border-box;
    height: 65%;
    .header-row.text-bold{
        display: flex;
        padding-top: 6px;
        padding-bottom: 6px;
        .q-item{
          flex: 1;
          display: flex;
          span{
            flex: 1;
            font-size: small;
          }
          span.p-name-head{
            flex: 2;
          }
        }
    }
    .payer-checklist{
      display: block;
      padding-top: 6px;
      padding-bottom: 6px;
      height: 85%;
      background-color: $transparent-dark-bg;
      border: 1px solid $primary-dark-border;
      border-bottom-right-radius: 4px;
      border-bottom-left-radius: 4px;
      overflow-y: scroll;
      .q-list{
        padding-left: 10px;
        padding-right: 10px;
        .q-item{
          flex: 1;
          padding: 1px;
          display: flex;
          padding: auto 8px;
          span{
            flex: 1;
            font-size: small;
          }
          span.p-name{
            flex: 2;
          }
          span .amt-unit{
            color: darkgoldenrod;
          }
          span .paid-check{
              color: darkgreen;
              size: 18px;
          }
        }
      }
      
  }
  }
}

.right-container {
  display: block; 
  width: 200px; 
}

.finish-btn{
  color: $text-white-grey;
  background-color: $primary-imp-action-bg;
  font-weight: bold;
  width: 200px;
  margin-right: 8px;
}


.info-box{
  display: flex;
  width: 255px;
  margin-right: 100px;
  justify-content: center;
  align-items: center;
  padding: 0;
  color: $input-text-grey;
  transform: translateX(-6px);
  font-size: smaller;
  border: 1px dashed $primary-dark-border;
  border-radius: 4px;
  background-color: $transparent-x-darker-bg;
  transform: translateX(-14px);
  .q-icon{
    transform-origin: center;
    transform: scale(1.2) translateX(4px);
  }
  i{
    transform: translateX(8px);
  }
}



//------- for txid dialog --------

.txid-dialog-card{
  width: 300px; /* Adjust width as needed */
  position: fixed;
  height: fit-content;
  background-color: $dialog-bg-color;
  background-image: url('assets/dialog-bg-new.png') !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: -2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  border-radius: 0; /* Remove rounded edges */
  overflow-x: hidden;
  transform-origin: top right;
  transform: scale(1.05);
  .q-card__section{
      .text-h6.text-bold{
        padding-left: 8px;
        font-size: medium;
        color: $header-text-dark;
        text-shadow: -1px -1px 0 #aaaaaa,
        1px -1px 1px #aaaaaa,
        -1px 1px 1px #aaaaaa,
        1px 1px 1px #aaaaaa; 
      }
    }
}

.txid-field{
    flex: 1;
    padding: 0;
    border: none;
    font-size: small;  
    transform-origin: center;
    transform: scale(0.9);
    div div div{
      div{
        color: $primary;
      }
      input{
        color:$input-text-grey;
      }
    }
}

.txid-d-btns{
  transform-origin: top right;
  transform: scale(0.9);
}

