// Quasar SCSS (& Sass) Variables
// --------------------------------------------------

$primary   : rgb(141, 50, 50);
$dropdown-bg : #a4abbc;
$dialog-bg-color: rgb(152, 167, 184);
//$dialog-bg-lighter-color: rgb(72, 102, 137);
$primary-headers-bg : #762426; //labels, list header, action btns bgs
$unit-colors: rgb(118, 87, 7);
$primary-imp-action-bg: #923537; //----float/proceed btn bg----
$primary-hover   : #a25153; //-----float/proceed btn hover bg---
$primary-hover-hover   : #a16869;
$primary-xx-darker-bg: #283134;
$primary-x-darker-bg: #455d80;//---page bg-----//
$h1-white: white;
$banner-color: rgb(108, 117, 128);
$primary-darker-bg: #45565c;

$primary-bgrey-bg: rgb(47, 67, 77);//---dropdown bg---
$primary-dark-bg: #90b6c5;//-----card bg---

$transparent-darker-bg: #45565c95;//-----cancel btn bg----//

$transparent-dark-bg: #21356165;
$header-text-dark: #0c0c0c;
//------- for dark-transparent input field ---------//
$input-text-grey: #2f2f2f; 
$text-white-grey: #bcbbbb; 
$transparent-x-darker-bg: #95999a7c; //bg
$primary-dark-border:#171d20; //border
$primary-dark-border:#171d20;
$primary-field-bg: #3b535b;
$transparent-darker: #28313477;
$transparent-xx-darker: #28313477;

$bright-btn: #c23a4f; 
$bright-btn-hover: #a23240;


$secondary : #26A69A;
$accent    : #9C27B0;
$field-theme: #ecf1ff;
$lightgray-shade: #ededed;
$lightgray-1: #656565;
$dark-4      : #505050;
$dark-3      : #424242;
$dark-2      : #2e2e2e;
$dark      : #1D1D1D;
$dark-page : #121212;

$positive  : #21BA45;
$negative  : #ad3c49;
$info      : #31CCEC;
$warning   : #F2C037;
