// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.
$primary   : #9c3c3c;
$dropdown-bg : #5c7379;
$dialog-bg-color: rgb(54, 78, 105);
$dialog-bg-lighter-color: rgb(72, 102, 137);
$primary-headers-bg : #863c3c;
$primary-action-bg: #954040;

$primary-imp-action-bg: #a53a3c; //----float/proceed btn bg----
$primary-hover   : #a25153; //-----float/proceed btn hover bg---
$primary-hover-hover   : #a16869;
$primary-xx-darker-bg: #283134;

$primary-x-darker-bg: #3a484d;//---page bg-----//

$primary-darker-bg: #45565c;

$primary-bgrey-bg: rgb(47, 67, 77);//---dropdown bg---

$primary-dark-bg: #90b6c5;//-----card bg---

$primary-dark-border:#171d20;
$primary-field-bg: #3b535b;
$transparent-darker: #28313477;
$transparent-xx-darker: #28313477;

$transparent-darker-bg: #45565c95;//-----cancel btn bg----//

$transparent-dark-bg: #21506165;

//------- for dark-transparent input field ---------//
$input-text-grey: #939393; 
$transparent-x-darker-bg: #3a484d7c; //bg
$primary-dark-border:#171d20; //border
//--------------------------------------------------//

//$primary-light : #2fAAD2;
//$primary-dark : #773333;
$secondary : #26A69A;
$accent    : #9C27B0;
$field-theme: #ecf1ff;
$lightgray-shade: #ededed;
$lightgray-1: #656565;
$dark-4      : #505050;
$dark-3      : #424242;
$dark-2      : #2e2e2e;
$dark      : #1D1D1D;
$dark-page : #121212;

$positive  : #21BA45;
$negative  : #ad3c49;
$info      : #31CCEC;
$warning   : #F2C037;
